.caroussel{
    height: 100vh;
    position: relative;
  

    &__logoOn{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
        animation: flash 0.2s forwards;
        animation-delay: 1s;
        opacity: 0;
        animation-iteration-count: 2;
    }

    &__logoOff{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
    }

    &__swiper{
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        pointer-events: none;

        .swiper-slide{
           
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                
            }
        }
    }

    &__overlay{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 9;
        animation: flash 0.2s forwards;
        animation-delay: 1s;
        animation-iteration-count: 2;
        opacity: 0;
    }
}

@keyframes flash {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}