// Fonts import and declaration
@font-face {
    font-family: "National 2 Condensed Bold";
    src: url("../assets/fonts/National 2 Condensed/National2Condensed-Bold.otf") format("opentype");
}

@font-face{
    font-family: "National 2 Condensed Medium";
    src: url("../assets/fonts/National 2 Cond Md/National2Condensed-Medium.otf") format("opentype");
}

@font-face{
    font-family: "National 2 Condensed Regular";
    src: url("../assets/fonts/National 2 Condensed/National2Condensed-Regular.otf") format("opentype");
}
